<p style="color: green"><%= notice %></p>

<h1>Topics</h1>

<%= turbo_stream_from "topics" %>

<div id="topics">
  <% @topics.order(like: :desc).each do |topic| %>
    <%= render topic %>
  <% end %>
</div>

<%= link_to "New topic", new_topic_path %>
